<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Title</key>
			<string>Toolbars</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>IASKViewControllerClass</key>
			<string>ColorViewController</string>
			<key>IASKViewControllerSelector</key>
			<string>init</string>
			<key>Title</key>
			<string>Toolbar Settings</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Scrolling</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<integer>0</integer>
			<key>Key</key>
			<string>scrollSpeedTitle</string>
			<key>Title</key>
			<string>Scroll Speed Adjustment</string>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Values</key>
			<array/>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>1</string>
			<key>Key</key>
			<string>userScrollSpeed</string>
			<key>MaximumValue</key>
			<integer>1</integer>
			<key>MaximumValueImage</key>
			<string>sliderSpeedMax.png</string>
			<key>MinimumValue</key>
			<integer>0</integer>
			<key>MinimumValueImage</key>
			<string>sliderSpeedMin.png</string>
			<key>Title</key>
			<string>Scroll Speed Adjustment</string>
			<key>Type</key>
			<string>PSSliderSpecifier</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Zooming</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>0</string>
			<key>Key</key>
			<string>userZoomIncText</string>
			<key>Title</key>
			<string>Zoom Increment Adjustment (Toolbar Buttons)</string>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Values</key>
			<array/>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<real>0.0145</real>
			<key>Key</key>
			<string>userZoomIncrement</string>
			<key>MaximumValue</key>
			<real>0.019</real>
			<key>MaximumValueImage</key>
			<string>sliderSpeedMax.png</string>
			<key>MinimumValue</key>
			<real>0.01</real>
			<key>MinimumValueImage</key>
			<string>sliderSpeedMin.png</string>
			<key>Title</key>
			<string>Zoom Increment Adjustment</string>
			<key>Type</key>
			<string>PSSliderSpecifier</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Note-Taking</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>0</string>
			<key>Key</key>
			<string>penSizeText</string>
			<key>Title</key>
			<string>Pen Size</string>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Values</key>
			<array/>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<real>0.3</real>
			<key>Key</key>
			<string>penSize</string>
			<key>MaximumValue</key>
			<integer>1</integer>
			<key>MaximumValueImage</key>
			<string>sliderSpeedMax.png</string>
			<key>MinimumValue</key>
			<string>.1</string>
			<key>MinimumValueImage</key>
			<string>sliderSpeedMin.png</string>
			<key>Title</key>
			<string>Pen Size</string>
			<key>Type</key>
			<string>PSSliderSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>0</string>
			<key>Key</key>
			<string>eraserSizeText</string>
			<key>Title</key>
			<string>Eraser Size</string>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Values</key>
			<array/>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<real>0.2</real>
			<key>Key</key>
			<string>eraserSize</string>
			<key>MaximumValue</key>
			<integer>1</integer>
			<key>MaximumValueImage</key>
			<string>sliderSpeedMax.png</string>
			<key>MinimumValue</key>
			<string>.1</string>
			<key>MinimumValueImage</key>
			<string>sliderSpeedMin.png</string>
			<key>Title</key>
			<string>Eraser Size</string>
			<key>Type</key>
			<string>PSSliderSpecifier</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Development Settings</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<false/>
			<key>FalseValue</key>
			<string>biology.png</string>
			<key>Key</key>
			<string>testImage</string>
			<key>Title</key>
			<string>Active Test Image</string>
			<key>TrueValue</key>
			<string>geometry.png</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
	</array>
</dict>
</plist>
